body{
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	padding-top: 0px;
}

h1{
	color: #FFFFFF;
	font-weight: 300;
	margin-top: 10px;
	font-size: 22px;
	background-color: #000000;
	padding: 5px;
	float: left;
	margin-bottom: 2px;
}

.middler{
	width: 600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 10px;
}

.middler h2{
	font-size: 18px;
	margin-top: 0px;
	padding-top: 0px;
}

.middler h3{
	font-size: 16px;
	margin-top: 0px;
	padding-top: 0px;
}

.header{
	width: 600px;
	float: left;
	height: 120px;
	padding-left: 10px;
	background-image: url(images/header.png);
}

p{
	line-height: 135%;
}

.date{
	width: 600px;
	float: left;
	height: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 10px;
	margin-bottom: 20px;
}

ul{
	list-style: none;
}


table {
	float: left;
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 500px;
	}

th {
	padding: 0 0.5em;
	text-align: left;
	}

tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}

td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}

code{
	font-family: "Courier New", Courier, monospace;
}

middler img{
	padding-left:10px;
}
@charset "UTF-8";
/* CSS Document */

.greybox{
	width: auto;
	margin: 0px 10px 0px 10px;
	border: 1px solid #666666;
	background-color:#999999;
	float: left;
	padding: 10px;
}

.clear{
	clear:both;
}

.numbers{
	list-style: decimal;
}
.numbers li{
	padding-bottom: 20px;
	line-height: 120%;
}

#footer{
	width: 610px;
	float: left;
	height: 30px;
	margin-top: 20px;
	border-top: 1px solid #000000;
}

.next{
	float: right;
	color: #666666;
	margin-top: 20px;
}

.last{
	float: left;
	color: #666666;
	margin-top: 20px;
}